
*{
    margin: 0;
    padding: 0;
}
h2{
    color: green;
    font-size: 55px;
    font-family: 'Archivo Narrow regular';
}
h5{
    color: rgb(49, 118, 187);
    font-size: 17px;
}
span{
    font-family: 'Archivo Narrow bold';
}
/* NAVIGATION BAR */
#navbar{
    padding: 0% 3% 0% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links ul{
    display: flex;
}
.navbar-links li{
    list-style: none;
}

.navbar-links a{
    text-decoration: none;
    display: block;
    padding: 20px;
    font-family: 'balooregular';
    font-size: 30px;
    color: black;
    font-family: 'Archivo Narrow semibold';
}
.navbar-links a:hover{
    color: green;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgb(0,0,0);
    overflow-y: auto;
    transition: 0.5s;
}
.closebtn {
        position: absolute;
        font-size: 40px;
        right: 35px;
       
}
    li{
        list-style: none;    
    }
   
    
    .overlay a {
        padding: 10px;
        text-decoration: none;
        font-size: 40px;
        font-family: 'balooregular';
        color:  rgb(0, 49, 66);
        display: block;
        transition: 0.9s;
    }
  .overlay a:hover{
            color: rgb(214, 122, 64);
        }
    
    .overlay-content {
        position: relative;
        top: 25%;
        text-align: center;
    }

.toggle-button{
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 35px;
}
  
    .bar{
         height: 5px;
         width: 100%;
         background-color: pink;
         border-radius: 12px;  
         
    } 

    #logo{
        width: 130px;
        height: 100px;
       
    }

/* THE BILBOARD */
.bilboard-section{
    background-image: url(../Images/Hero_1.JPG);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 80vh;
}
h1{
    width: 680px;
    font-family: 'Archivo Narrow semibold';
    font-size: 53px;
    color: white;
}
.bilboard-section p{
    color: white;
    font-family: 'Archivo Narrow medium-italic';
    font-size: 33px;
    margin-top: 26px;
}
.bilboard-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(32, 59, 82, 0.713);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

/* ABOUT US SECTION */
.about-us-section{
    padding: 80px;
}
.aboutSection-H2-H5{
    text-align: end;
    padding-top: 110px;
}
.aboutUs-vertical-line{
    width: 2px;
    height: 250px;
    background-color: black;
    margin: 60px 0px 0px 55px;
}
.aboutUs-pText{
    font-family: 'Archivo Narrow medium';
    font-size: 23px;
    width: 100%;
    line-height: 32px;
}
/* AGRI SERVICES */
.agri-services-section{
    background-color: rgb(234, 235, 238);
    padding: 90px 0px 90px 90px;
}
h3{
    color: green;
    font-family: 'Archivo Narrow regular';
    font-size: 41px;
}
.garianAgri-div1{
    margin-bottom: 80px;
}
.harvester {
    width: 410px;
    height: 220px;
    position: absolute;
}
.blue-truck{
    width: 330px;
    height: 200px;
    position: relative;
    left: 145px;
    top: 175px;
}
.agri-services-line{
    width: 200px;
    height: 2px; 
    background-color: black; 
    margin-top: 20px;
}
.agri-services-logo{
    width: 140px;
    height: 130px; 
    margin: 0px 0px 70px 256px;
}
.line-and-logo{
    display: flex;
}
.agri-services-pText{
    font-family: 'Archivo Narrow medium';
    font-size: 20px;
    width: 90%;
}
.agri-services-button{
    width: 200px;
    height: 50px;
    margin-left: 400px;
    border: 2px solid;
    border-radius: 7px;
    color: green;
    font-family: 'Archivo Narrow medium';
    font-size: 20px;
}
/* PRODUCTS AND SERVICES */
.products-and-service-section{
    display: flex;
}
.darkBlue-rectangle{
    background-color: rgb(8, 20, 48);
    width: 50%;
    color: white; 
    font-family: 'Archivo Narrow medium';
    padding: 45px 0px 45px 45px;  
}
.Hfour-and-line{
    display: flex;
}
h4{
    font-weight: 27px;
}
.H-four-line{
    background-color: rgb(103, 104, 105);
    height: 2px;
    width: 160px;
    margin: 13px 0px 0px 40px;
}
.darkBlue-rectangle p{
    width: 82%;
}
.seven-lines{
    background-color: rgb(103, 104, 105);
    height: 2px;
    width: 450px;
    margin-bottom: 12px;
}
.star{
    width: 23px;
    height: 23px;
    margin-right: 10px;
}
.rate-1{
    display: flex;
}
.nameFill{
    padding: 15px 150px 15px 10px;
}
.messageFill{
    padding: 15px 150px 120px 10px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.two-trucks{
    width: 50%;
    height: 582px;
}
/* OUR CLIENTS SECTION */
.our-clients-section{
    padding: 80px 0px 80px 130px;
}
.H-two-line{
    background-color: rgb(90, 90, 90);
    height: 2px;
    width: 140px;
    margin: 30px 0px 0px 30px; 
}
.our-clients-logos{
    width: 50%;
    height: 65%;
}
.our-clients-section h5{
    margin-bottom: 65px;
}
.logo-margins-left{
    margin-left: 70px;
}

/* FAST TRUCK OVERLAY SECTION */
.fast-truck-overlay-section{
    background-image: url(../Images/Form_bg.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.fast-truck-rowDiv-1{
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    font-family: 'Archivo Narrow medium';
    font-size: 25px;
}
.white-truck-logo{
    width: 440px;
    height: 130px;
    margin-top: 70px;
    margin-left: 9%;
}
.fast-truck-line{
    background-color: rgb(90, 90, 90);
    height: 2px;
    width: 140px;
    margin: 25px 25px 0px 0px; 
}
.line-and-pText{
    display: flex;
}
.line-and-pText p{
    font-weight: bolder;
    font-size: 36px;
}
.want-inquiry{
    text-align: right;
    margin-right: 7%;
}
.fast-truck-rowDiv-2{
    display: flex;
    flex-direction: column;
    padding-top: 30%;
}

.nameFill{
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    width: 85%;
}
.messageFill{
    margin-top: 13px;
    width: 85%;
    color: black;
}
.fastTruck-submit-button{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    height: 50px;
    width: 200px;
    margin-top: 13px;
    margin-left: 395px;
}

/* OUR TEAM SCTION */

.our-team-section{
    background-color: rgb(228, 239, 246);
    padding-bottom: 80px;
    width: 100%;
}
.our-team-line{
    background-color: rgb(90, 90, 90);
    height: 2px;
    width: 140px;
    margin-top: 20px; 
    margin-right: 20px;
}
.team-and-line{
    display: flex;
    justify-content: flex-end;
    padding-top: 6%;
    padding-right: 13%;
}
.believe-H5{
    text-align: end;
    margin-right: 13%;
}
.images-with-arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 5%;
}
.green-arrows{
    width: 30px;
    height: 30px;
    
}
.team-photo{
    width: 710px;
    height: 450px;
    margin: 0px 90px 0px 90px;
}
.cards{
    display: flex;
    /* justify-items: flex-end; */
}
.card-background{
    background-color: rgb(255, 255, 255);
    width: 87%;
    text-align: center;
    padding-top: 30px;
}
.cards-heading{
    font-family: 'Archivo Narrow bold';
}
.cards-subheading{
    font-size: 21px;
    width: 80%;
    margin: 0px 15px 0px 15px;
    font-family: 'Archivo Narrow medium';
}
.underlining{
    width: 200px;
    height: 2px;
    background-color: rgb(0, 35, 157);
    margin: 18px 0px 20px 33px;
}
.Lorem-ipsum{
    margin: 0px 15px 0px 15px;
    font-family: 'Archivo Narrow medium';
}
.green-rectangle{
    width: 100%;
    height: 30px;
    margin-top: 25px;
    background-color: rgb(1, 126, 115);
}
/*  FOOTER SECTION  */

.footer-section{
    background-color: rgb(1, 126, 115);
    padding: 70px 40px 60px 40px;
    color: white;
}
.footer-div1{
    width: 80%;
}
.truck-logoo{
    width: 200px;
    height: 50px;
    margin-left: 25%;
}
.contact-and-line{
    display: flex;
}
.line-in-contact{
    width: 85px;
    height: 2px;
    background-color: white;
    margin: 12px 0px 0px 25px;
}
.footer-section h4{
    font-size: 30px;
    font-family: 'Archivo Narrow bold';
}
.footer-section p{
    font-size: 15px;
    font-family: 'Archivo Narrow medium';
}
.mobile-and-work{
    width: 50%;
}
.distance1{
    margin-top: 40px;
}
.distance{
    margin-top: 45px;
}
.space-between{
    line-height: 15px;
}









@media(max-width: 576px){
   
    ul{
        display: none;
    }
 .toggle-button{
        display: flex;
        position: relative;
        left: 340px;
        bottom: 70px;
   }
.navbar-links ul{
    display: none;
}
#logo{
    width: 160px;
    height: 100px;
}


   

h2{
    color: green;
    font-size: 40px;
    font-family: 'Archivo Narrow regular';
}
h5{
    color: rgb(49, 118, 187);
    font-size: 17px;
}
span{
    font-family: 'Archivo Narrow bold';
}


/* NAVIGATION BAR */
.logo{
    width: 200px;
    height: 120px;
    margin-left: 10px;
    padding-top: 7px;
}
.contact-us-tag{
    padding-right: 0px;
}

/* BILBOARD SECTION  */
.bilboard-section{
    width: 100%;
    height: 60vh;
}
h1{
     width: 100%;
     font-size: 29px;
     margin-top: 180px;
  }
.bilboard-section p{
    color: white;
    font-family: 'Archivo Narrow medium-italic';
    font-size: 20px;
    margin-top: 10px;
}
.bilboard-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(32, 59, 82, 0.713);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

/* about-us-section */
.about-us-section{
    padding: 10px;
} 
.aboutSection-H2-H5{
    text-align: start;
    padding-top: 40px;
}
.aboutUs-vertical-line{
    height: 90px;
    margin: 60px 0px 0px 0px;
}

/* agri-services-section */
.agri-services-section{
    padding: 50px 0px 90px 10px;
}
.garianAgri-div1{
    margin-bottom: 30px;
}
.harvester {
    width: 250px;
    height: 150px;
    position: absolute;
}
.blue-truck{
    width: 260px;
    height: 140px;
    position: relative;
    left: 100px;
    top: 120px;
}
.agri-services-line{
    width: 130px;
    height: 2px; 
    background-color: black; 
    margin-top: 220px;
}
.agri-services-logo{
    width: 140px;
    height: 130px; 
    margin: 160px 0px 20px 70px;
}

.agri-services-button{
    width: 150px;
    margin: 10px 0px 0px 0px;
}

  
/*  products-and-service-section */
.products-and-service-section{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.darkBlue-rectangle{
    background-color: rgb(8, 20, 48);
    width: 100%;
    color: white; 
    font-family: 'Archivo Narrow medium';
    padding: 45px 0px 45px 10px;  
}
h4{
    font-weight: 27px;
    margin-bottom: 30px;
}
.H-four-line{
    width: 100px;
    margin: 13px 0px 0px 40px;
}
.seven-lines{
    background-color: rgb(103, 104, 105);
    height: 2px;
    width: 260px;
    margin-bottom: 12px;
}
.two-trucks{
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

/*  our-clients-section */
.our-clients-section{
    padding: 40px 0px 80px 10px;
}
.H-two-line{
    background-color: rgb(90, 90, 90);
    height: 2px;
    width: 100px;
    margin: 30px 0px 0px 30px; 
}
.our-clients-logos{
    width: 70px;
    height: 65%;
}
.logo-margins-left{
    margin-left: 0px;
}

/* FAST TRUCK OVERLAY SECTION */
.fast-truck-overlay-section{
    width: 100%;
    height: 112vh;
    margin-left: 10px;
}
.fast-truck-rowDiv-1{
    padding-left: 10px;
}
.white-truck-logo{
    width: 150px;
    height: 70px;
    margin-top: 70px;
    margin-left: 54%;
}
.fast-truck-line{
    width: 100px;
    margin: 25px 25px 0px 0px; 
}
.line-and-pText p{
    font-size: 25px;
}
.want-inquiry{
    margin-right: 5%;
    font-size: 23px;
}
.fast-truck-rowDiv-2{
    padding-top: 5%;
}
.nameFill{
    margin-left: 40px;
}
.messageFill{
     margin-left: 40px;
}
.fastTruck-submit-button{
    height: 50px;
    width: 140px;
    margin-top: 13px;
    margin-left: 217px;
}
    
/* our-team-section */
.our-team-section{
    background-color: rgb(228, 239, 246);
    padding-bottom: 80px;
    margin-left: 10px;
}
.our-team-line{
    width: 90px;
}
.team-and-line{
    display: flex;
    justify-content: flex-end;
    padding-top: 6%;
    padding-right: 0%;
}
.believe-H5{
    text-align: end;
    margin-right: 0%;
}
.images-with-arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 20px 5% 20px;
}
.green-arrows{
    width: 30px;
    height: 30px;
    
}
.team-photo{
    width: 300px;
    height: 300px;
    margin: 0px 0px 0px 0px;
}
.cards{
    display: flex;
    flex-direction: column
    /* justify-items: flex-end; */
}




}
